/* reset.css */
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table, th, td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
height, body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Calibri, Helvetica, Arial, Verdana;
  font-size: 13px;
  background-color: #000;
  color: #f5f5f5;
}
#container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#main {
  position: absolute;
  left: 0;
  top: 0;
}
#progress {
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  line-height: 2em;
}
#progress span {
  padding-left: 20px;
  font-weight: bold;
}
#progress .progress-spinner {
  display: none;
}
.page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.page-container.animated {
  -moz-transition: -moz-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.page {
  position: absolute;
  /*
	-moz-box-shadow: 3px 3px 4px rgba(40, 40, 40, 0.6);
	-webkit-box-shadow: 3px 3px 4px rgba(40, 40, 40, 0.6);
	box-shadow: 3px 3px 4px rgba(40, 40, 40, 0.6);
	*/

}
.page canvas {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
