/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*----------------------------- BUNDLED MIXINS -----------------------------*/
/*--------------------------------------------------------------------------*/
/*-------------------------- DISPLAY MIXIN BUNDLE --------------------------*/
/*-- .block(); .block-centered(); .block-inline(); .block-inline-float(); --*/
#display {
  /*-- DISPLAY MIXIN BUNDLE --*/

}
/*-------------------------- BORDER MIXIN BUNDLE ---------------------------*/
/*-------------------------- .lines(); .radius(); --------------------------*/
#border {
  /*-- BORDER MIXIN BUNDLE --*/

}
/*---------------------------- BOX MIXIN BUNDLE ----------------------------*/
/*----------------- .shadow(); .shadow-inset(); .sizing(); -----------------*/
#box {
  /*-- BOX MIXIN BUNDLE --*/

}
/*--------------------- FLEXIBLE BOX MODEL MIXIN BUNDLE --------------------*/
/*---------------------------- .wrap(); .box(); ----------------------------*/
#flex {
  /*-- FLEXIBLE BOX MODEL MIXIN BUNDLE --*/

  /* @orient: horizontal | vertical | inherit */

  /* @align: start | end | center | baseline | stretch */

  /* @direction: normal | reverse */

  /* @pack: start | end | center | justify */

  /*Note: @flex:0 = inflexible. */

}
/*-------------------------- GRADIENT MIXIN BUNDLE -------------------------*/
/*--------- .horizontal(); .vertical(); .vertical-three-colors(); ----------*/
#gradient {
  /*-- GRADIENT MIXIN BUNDLE --*/

}
/*------------------------- TRANSFORM MIXIN BUNDLE -------------------------*/
/*-------------- .translate(); .scale(); .rotate(); .skew(); ---------------*/
#transform {
  /*-- TRANSFORM MIXIN BUNDLE --*/

}
/*------------------------- TRANSITION MIXIN BUNDLE ------------------------*/
/*---------------------------- .transition(); ------------------------------*/
#transition {
  /*-- TRANSITION MIXIN --*/

}
/*--------------------------- IMAGE MIXIN BUNDLE ---------------------------*/
/*-------------------------- .replace(); .mask(); --------------------------*/
#image {
  /*-- IMAGE MIXIN BUNDLE --*/

}
/*--------------------------- LAYOUT MIXIN BUNDLE --------------------------*/
/*------------------------------ .columns(); -------------------------------*/
#layout {
  /*-- LAYOUT MIXIN BUNDLE --*/

}
/*--------------------------------------------------------------------------*/
/*---------------------------- CONFIG VARIABLES ----------------------------*/
/*--------------------------------------------------------------------------*/
/* reset.css */
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table, th, td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
